body{
    background: $bg;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    font-family: $font-primary;
    font-size: $font-size;
    width: 830px;
    margin: 0 auto;
    position: relative;
}

a {
    outline: none;
    text-decoration: none;
    @include transition(all 0.3s);
}

ol{
    padding-left: 10px;
    li{
        margin-bottom: 5px;
    }
}

.btn {
    padding: 0 15px;
    display: inline-block;
    vertical-align: middle;
    @include border-radius(3px);
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    @include transition(all 0.3s);
}

.btn-orange{
    color: #fff;
    background-color: #fc881c;
    border-top:1px solid #fec48f;
    border-bottom: 1px solid #b91602;
    @include background-image(linear-gradient(to bottom, #fc881c 15%, #b91602 100%));
    @include transition(all 0.3s);
    &:hover{
        .btn-helper{
            opacity: 1;
        }
    }
}
.btn-helper{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include border-radius(3px);
    opacity: 0;
    @include background-image(linear-gradient(to bottom, #fc881c 45%, #b91602 100%));
    @include transition(opacity 0.5s);
}

fieldset {
    border: none;
}

.text__column{
    @include column-count(2);
}

.checkbox__wrap{
    height:30vh;
}